<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  
  <appSettings>

    <!-- The window title to display in the title bar. -->
    <add key="WindowTitle" value="My Test Application"/>

    <!-- The url the browser control should start with. -->
    <add key="BrowserStartUrl" value="http://localhost:8888/"/>

    <!-- The port the self hosting should listen on (or leave empty to disable self hosting). -->
    <add key="SelfHostingListenPort" value="8888"/>
    
  </appSettings>
  
</configuration>